* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --primary-color-2: #FF5B2E;
    --primary-bg: #FFFAF5;
    --primary-bg-2: #FFF6ED;

    /* ellip overflow */
    --line-clamp-lines: 2;
    --text-truncate-display: -webkit-box;
    --text-truncate-orient: vertical;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Sora', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.text-truncate {
    display: var(--text-truncate-display);
    -webkit-line-clamp: var(--line-clamp-lines);
    -webkit-box-orient: var(--text-truncate-orient);
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    min-width: 182px;
    height: 56px;
    border-radius: 31px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.heading-common {
    color: var(--primary-color);
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.heading-common-2 {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
}

.desc-common {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.span-header {
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Form */
input,
button {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
}

/* Header */
.header {
    background: var(--primary-bg);
    /* background: red; */
    padding: 26px 0 8px;
}

.header-fixed {
    position: sticky;
    top: -20px;
    z-index: 99;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.logo__img {
    width: 103px;
    height: 37px;
}

.header__list {
    display: flex;

}

.header__item {
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 18px;
    transition: text-shadow 0.2s;
}

.header__item.active {
    position: relative;
}

.header__item:hover,
.header__item.active {
    color: var(--primary-color);
    font-style: normal;
    text-shadow: 1px 0 0 currentColor;
}

.header__item.active::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 17px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 10px;
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    transition: color, background, border-color;
    transition-duration: 0.2s;
}

.header__btn:hover {
    color: #FFF;
    background: var(--primary-color-2);
    border-color: var(--primary-color-2);
}

/* Hero section */
.hero {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 38.5px;
    background: var(--primary-bg);
}

.hero__wrapper {
    display: flex;
    align-items: center;
    column-gap: 270px;
}

.hero__image {
    position: relative;
    width: 52%;
}

.hero__image::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 247px;
    left: -60px;
    width: 230px;
    height: 230px;
    background-image: url(/assets/img/decor-02.svg);
    z-index: 1;
}

.hero__image::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 16px;
    right: -40px;
    width: 50.346px;
    height: 100.83px;
    background-image: url(/assets/img/decor-01.svg);
    z-index: 1;
}

.hero__img {
    position: relative;
    display: block;
    width: 388px;
    height: 488px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 16px;
    z-index: 2;
}

.hero__img:nth-child(3) {
    animation: translateY 3s ease infinite;
}

.hero__img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 92%;
    width: 186px;
    height: 244px;
    border-color: #FAA7AD;
}

.hero__img:nth-child(3) {
    position: absolute;
    bottom: -70px;
    left: 40%;
    width: 250px;
    height: 156px;
    border: none;
    border-radius: 10px;
}

.hero__heading {
    color: var(--primary-color);
    font-family: Sora, sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
}

.hero__group-btn {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
}

.hero__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #FF5B2E;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    transition: opacity 0.2s;
}

.hero__icon-btn {
    position: relative;
    top: 3px;
}

.hero__cta:hover {
    opacity: 0.8;
}

.hero__cta-last {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}

/* About Agency */
.about {
    padding-top: 38.5px;
    background: var(--primary-bg);
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 53px;
}

.about__content {
    width: 38%;
    flex-shrink: 0;
}

.about__text-mini {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    padding: 0 22px;
}

.about__text-mini:before {
    content: "//";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.about__text-mini:after {
    content: "//";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__list {
    margin-top: 54px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 34px;
}

.about__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
}

.about__icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #FF5D31;
    border-radius: 4px;
}

.about__item span {
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}

.about__image {
    position: relative;
}

.about__img {
    width: 544.63px;
    height: 559px;
    object-fit: cover;

}

.year-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 157px;
    left: -69px;
    /* width: 136px;
    height: 156px; */
    padding: 31px 26px 29px 26px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    animation: translateY 3s ease infinite;
}

@keyframes translateY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.year-experience__heading {
    color: #FFF;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.year-experience__desc {
    margin-top: 14px;
    text-align: center;
    width: 83px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

/* Vacation */
.vacation__wapper {
    display: flex;
    align-items: center;
    padding: 77px 0 130px;
    column-gap: 33px;
}

.vacation__image {
    position: relative;
    left: -46px;
}

.vacation__img {
    display: block;
    width: 545px;
    height: 570.583px;
    object-fit: cover;
}

.vacation__desc {
    width: 511px;
}

/* Tab control */
.vacation__tabs {
    margin-top: 24px;
}

.vacation__tabs input {
    display: none;
}

.vacation__list {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    column-gap: 56px;
}

.vacation__list::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 557px;
    height: 2px;
    background: #FF5B2E;
    border-radius: 50px;
    opacity: 0.07;
}

.vacation__item {
    display: flex;
    align-items: center;
}

.vacation__label {
    display: flex;
    align-items: center;
    height: 35px;
    color: #48496A;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    column-gap: 10px;
    cursor: pointer;
}

.vacation__list li:nth-child(1) label img {
    position: relative;
    top: 2px;
}

.vacation__list li:nth-child(2) label img {
    position: relative;
    top: 4px;
}

.vacation__list li:nth-child(3) label img {
    position: relative;
    top: -2px;
}

.vacation__content-tabs {
    margin-top: 36px;
}

.vacation__desc-tabs {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
}

.vacation__content-tabs-inner {
    display: none;
}

.vacation__tabs input:nth-of-type(1):checked~.vacation__content-tabs .vacation__content-tabs-inner:nth-of-type(1),
.vacation__tabs input:nth-of-type(2):checked~.vacation__content-tabs .vacation__content-tabs-inner:nth-of-type(2),
.vacation__tabs input:nth-of-type(3):checked~.vacation__content-tabs .vacation__content-tabs-inner:nth-of-type(3) {
    display: block;
}

.vacation__cta {
    display: inline-block;
    position: relative;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 32px;
    padding-bottom: 5px;
}

.vacation__cta::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background: #FF5D31;
    transition: all 0.5s ease-in-out;
}

.vacation__cta:hover::after {
    width: 100%;
    left: 0;
}

.vacation__item {
    position: relative;
}

.vacation__tabs input:nth-of-type(1):checked~.vacation__list li:nth-of-type(1)::after,
.vacation__tabs input:nth-of-type(2):checked~.vacation__list li:nth-of-type(2)::after,
.vacation__tabs input:nth-of-type(3):checked~.vacation__list li:nth-of-type(3)::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 64%;
    height: 2px;
    background: #FF5B2E;
    border-radius: 50px;
}

/* Services */
.services {
    padding: 68px 0 100px;
    background: var(--primary-bg-2);
}

.services__wapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services__header {
    text-align: center;
}

.services__heading {
    margin-top: 15px;
}

.services__grid {
    margin-top: 71px;
    display: grid;
    grid-template: auto / 1fr 447px 1fr;
    column-gap: 64px;
}

.services__box {
    padding: 30px 28px 22px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.services__box+.services__box {
    margin-top: 24px;
}

.services__heading-2 {
    position: relative;
    padding-left: 12px;
}

.services__heading-2::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.services__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
}

.services__cta {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396A;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.services__cta:hover {
    color: var(--primary-color-2);
}

.services__icon {
    color: var(--primary-color-2);
    rotate: -45deg;
    transition: rotate 0.3s ease;
}

.services__cta:hover .services__icon {
    rotate: 0deg;
}

.service__image {
    position: relative;
}

.service__image::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 410px;
    height: 250px;
    background: #90E6F1;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 1;
}

.services__img {
    position: relative;
    width: 447px;
    height: 643px;
    object-fit: cover;
    filter: drop-shadow(2px 4px 7px #ccc);
    z-index: 2;
}

.services__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0 auto;
    width: 214px;
    min-width: 214px;
    font-weight: 500;
    color: var(--primary-color-2);
    border: 1px solid var(--primary-color-2);
    z-index: 2;
    overflow: hidden;
    transition: color 0.7s ease-in-out;
}

.services__btn:hover {
    color: #fff;
}

.services__btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: var(--primary-color-2);
    z-index: -1;
    transition: width 0.6s ease-in-out, left 0.6s ease-in-out, right 0.6s ease-in-out;
    border-color: var(--primary-color-2);
    /* border-radius: 31px; */
}

.services__btn:hover::after {
    width: 100%;
    left: 0;
}

/* Team */
.team {
    padding: 130px 0;
    background: var(--primary-bg);
}

.team__header {
    text-align: center;
}

.team__heading {
    margin-top: 15px;
}

.team__list {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;

}

.team__item {
    text-align: center;
}

.team__item {
    position: relative;
}

.team__item::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    width: 266px;
    height: 109px;
    background-image: url(/assets/icons/vector-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.team__item:nth-child(2):after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 19px;
    width: 266px;
    height: 109px;
    background-image: url(/assets/icons/vector-02.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team__item:nth-child(3):after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    width: 266px;
    height: 109px;
    background-image: url(/assets/icons/vector-03.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team__item:nth-child(4):after {
    content: "";
    position: absolute;
    top: 19px;
    transform: translateX(-50%);
    bottom: 80px;
    width: 266px;
    height: 109px;
    background-image: url(/assets/icons/vector-04.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team__img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    width: 234px;
    height: 350px;
    border-radius: 129.5px;
}


.team__img-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 234px;
    height: 299px;
    border-radius: 129.5px;
    background: #90CCFF;
    transition: background 0.6s ease;
}

.team__item:nth-child(2) .team__img-bg {
    background: #FB8C62;
}

.team__item:nth-child(3) .team__img-bg {
    background: #FCB542;
}

.team__item:nth-child(4) .team__img-bg {
    background: #36C3D9;
}

.team__item:nth-child(1):hover .team__img-bg {
    background: #3f8ed1;
}

.team__item:nth-child(2):hover .team__img-bg {
    background: #eb6633;
}

.team__item:nth-child(3):hover .team__img-bg {
    background: #de9826;
}

.team__item:nth-child(4):hover .team__img-bg {
    background: #0b7889;
}

.team__avatar {
    position: absolute;
    bottom: 0;
    width: 251px;
    height: 380px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.team__item:nth-child(2) .team__avatar {
    height: 357px;
    transform: translateX(-48%);

}

.team__item:nth-child(4) .team__avatar {
    height: 372px;
}

.team__solution {
    display: block;
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
}

.team__name {
    margin-top: 14px;
    color: var(--primary-color);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
}

.team__cta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0 auto;
    width: 214px;
    min-width: 214px;
    font-weight: 500;
    color: var(--primary-color-2);
    border: 1px solid var(--primary-color-2);
    z-index: 2;
    overflow: hidden;
    transition: color 0.7s ease-in-out;
    box-shadow: none;
}

.team__cta:hover {
    color: #fff;
}

.team__cta::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: var(--primary-color-2);
    z-index: -1;
    transition: width 0.6s ease-in-out, left 0.6s ease-in-out, right 0.6s ease-in-out;
    border-color: var(--primary-color-2);

}

.team__cta:hover::after {
    width: 100%;
    left: 0;
}

/* Price */
.price {
    padding: 86px 0;
    background: var(--primary-bg-2);
}

.price__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.price__desc {
    width: 709px;
}

.price__wapper input {
    display: none;
}

.price__wapper {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

.price__toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 276px;
    height: 56px;
    border: 1px solid var(--primary-color-2);
    border-radius: 31px;
    /* overflow: hidden; */
    z-index: 1;
}

.price__label {
    cursor: pointer;
    padding: 20px 40px;
    color: var(--primary-color-2);
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.price__backgroun-x {
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    height: 56px;
    background: var(--primary-color-2);
    border-radius: 31px;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.price__toggle-price input[id="price-1"]:checked~.price__toggle .price__backgroun-x {
    width: 53%;
    transform: translateX(-130px);
}

.price__toggle-price input[id="price-1"]:checked~.price__toggle label:nth-of-type(1),
.price__toggle-price input[id="price-2"]:checked~.price__toggle label:nth-of-type(2) {
    color: #fff;
}

/* Box price */
.price__inner {
    margin-top: 56px;
}

.price__inner-child {
    display: flex;
    justify-content: center;
    column-gap: 44px;
}

.price__inner-child:nth-child(1) {
    display: none;
    opacity: 0;
    transition: all .6s ease-in-out;
}

.price__inner-child:nth-child(2) {
    display: none;
    opacity: 0;
    transition: all .6s ease-in-out;
}

.price__toggle-price input:nth-of-type(1):checked~.price__inner .price__inner-child:nth-child(1),
.price__toggle-price input:nth-of-type(2):checked~.price__inner .price__inner-child:nth-child(2) {
    display: flex;
    opacity: 1;
}

.price__box {
    width: 302px;
    height: 100%;
    padding: 30px 28px 43px 28px;
    border-radius: 20px;
    background: #FFF;
}

.price__text-span {
    color: var(--primary-color-2);
    font-size: 1.2rem;
    font-weight: 400;
}

.price__heading-2 {
    margin-top: 8px;
    color: #3F4065;
    font-size: 1.8rem;
}

.price__number {
    margin-top: 24px;
    font-size: 3.4rem;
    font-weight: 700;
}

.price__cta-btn {
    display: flex;
    margin-top: 22px;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 44px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color-2);
    text-align: center;
    border-radius: 39px;
    background: #fff;
    border: 1px solid rgba(255, 91, 46, 0.60);
    transition: all 0.3s ease;
}

.price__cta-btn:hover {
    color: #fff;
    background: var(--primary-color-2);
    border-color: var(--primary-color-2);
}

.price__cta-btn.active {
    color: #fff;
    background: var(--primary-color-2);
    transition: all 0.3s ease;
}

.price__cta-btn.active:hover {
    color: var(--primary-color-2);
    background: #fff;
    border-color: var(--primary-color-2);
}


.price__list {
    margin-top: 24px;
}

.price__item {
    display: flex;
    color: #656689;
    font-size: 1.4rem;
    column-gap: 12px;
}

.price__item i {
    color: #FFBDAB;
    width: 14px;
    height: 14px;
}

.price__item+.price__item {
    margin-top: 18px;
}

/* Review */
.review {
    padding: 65px 0 53px;
    background: var(--primary-bg);
}

.review__wapper {
    position: relative;
}

.review__inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.review__image {
    position: relative;
    width: 274px;
    height: 427px;
    border-radius: 137px;
    overflow: hidden;
    flex-shrink: 0;
}

.review__bg-avatar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 274px;
    height: 350px;
    background: #FFDA54;
    border-radius: 137px;
}

.review__img-avatar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 415px;
    object-fit: cover;
    filter: drop-shadow(2px -2px 6px currentColor);
    color: #fff;
    transform: translateX(7px);
}

.review__content {
    width: 553px;
}

.review__desc {
    font-size: 1.8rem;
    color: #000;
    line-height: 1.55;
}

.review__reviewer {
    position: relative;
    margin-top: 34px;
    padding-left: 28px;
    color: #282828;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review__reviewer::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 15px;
}

.review__btn {
    outline: none;
    border: 1px solid #FFD1C4;
    width: 54px;
    height: 54px;
    color: var(--primary-color-2);
    background: var(--primary-bg);
    border-radius: 50%;
    cursor: pointer;
    transition: background, border;
    transition-duration: .3s;
}

.review__btn:hover {
    background: var(--primary-color-2);
    border-color: var(--primary-color-2);
}

.review__btn:hover i {
    color: #fff;
}

.review__btn.next,
.review__btn.pre {
    position: absolute;
    right: 0;
    top: 50%;
}

.review__btn.pre {
    left: 0;
}

.review__btn.active {
    background: var(--primary-color-2);
    border-color: var(--primary-color-2);
}

.review__btn.active i {
    color: #fff;
}

.review__btn i {
    color: currentColor;
}

.review__btn.next i {
    rotate: 180deg
}

.review__dot-list {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    column-gap: 10px;
}

.review__dot-item {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--primary-bg);
    border: 3px solid var(--primary-color-2);
    cursor: pointer;
    transition: background, border-color;
    transition-duration: 0.3s;
}

.review__dot-item:hover {
    border-color: var(--primary-color-2);
    background: var(--primary-color-2);
}

.review__dot-item.active {
    border-radius: 10px;
    width: 35px;
    background: var(--primary-color-2);
}

.blog {
    padding: 65px 0 130px;
    background: var(--primary-bg);
}

.blog__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    margin-top: 0;
    width: 350px;
}

.blog__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    max-width: 182px;
    color: var(--primary-color-2);
    font-size: 1.6rem;
    font-weight: 500;
    background: var(--primary-bg);
    box-shadow: none;
    border-radius: 31px;
    border: 1px solid var(--primary-color-2);
    transition: background, border-color, color;
    transition-duration: 0.3s;
}

.blog__btn:hover {
    color: #fff;
    background: var(--primary-color-2);
    border-color: var(--primary-color-2);
}

.blog__content {
    display: flex;
    column-gap: 48px;
    margin-top: 54px;
}

.blog__box {
    width: 33.3%;
}

.blog__img-container {
    position: relative;
    width: 358px;
    height: 362px;
    padding: 24px 0 0 36px;
    background: #5BD6E2;
    border-radius: 24px;
    overflow: hidden;
}

.blog__date {
    color: #FFF;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
}

.blog__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.blog__heading-wapper {
    margin-top: 28px;
}

.blog__heading-2 {
    line-height: 1.54;

}

.blog__desc-2 {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog__box:nth-child(2) .blog__img-container {
    background: #90CCFF;
}

.blog__box:nth-child(3) .blog__img-container {
    background: #FF997E;
}


/* Footer */
.footer {
    position: relative;
    padding: 48px 0 52px;
    background: var(--primary-bg-2);
}

.footer:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 41%;
    height: 100%;
    background: var(--primary-bg);
}

.footer__wapper {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 234px;
    z-index: 1;
}


.footer__left {
    width: 23%;
}

.footer__form {
    position: relative;
    margin-top: 35px;
}

.footer__input {
    outline: none;
    border: none;
    width: 268px;
    height: 46px;
    padding: 16px 50px 16px 22px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #FFF;
}

.footer__input::placeholder,
.footer__form {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    caret-color: var(--primary-color-2);
}

.footer__submit {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 46px;
    color: #fff;
    background: var(--primary-color-2);
    border-radius: 50%;
    transition: opacity 0.3s;
    cursor: pointer;
}

.footer__submit:hover {
    opacity: 0.8;
}

.footer__cta {
    color: #000958;
    font-size: 1.8rem;
}

.footer__cta {
    margin-top: 68px;
}

.footer__social {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.footer__social-btn {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #4D538D;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: color, background;
    transition-duration: 0.3s;
}

.footer__social-btn:hover {
    color: #fff;
    background: #4D538D;
}

.footer__social-btn i {
    width: 14px;
    height: 14px;
    color: currentColor;
}

.footer__social-btn:hover i {
    color: currentColor;
}

.footer__right {
    flex-grow: 1;
}

.footer__right-wapper {
    display: flex;
    justify-content: stretch;
    column-gap: 137px;
    padding-right: 37px;
    padding-left: 107px;
}

.footer__right-wapper:nth-child(2) {
    margin-top: 58px;
}

.footer__heading-3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
}

.footer__list {
    margin-top: 14px;
}

.footer__list li+li {
    margin-top: 5px;
}

.footer__item {
    color: #656689;
    font-size: 1.4rem;
    line-height: 2;
}

.footer__item:hover {
    text-shadow: 1px 0 0 var(--primary-color);
}

.footer__copyright {
    margin-top: 52px;
    color: #656689;
    font-size: 1.2rem;
}

.footer__copyright a {
    position: relative;
    color: #000;
    font-weight: 600;
}

.footer a::before {
    content: attr(data-text);
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2.3px;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    color: #18df10;
    white-space: nowrap;
    overflow: hidden;
    transition: all .6s ease-in-out;
}

.footer a:hover::before {
    width: 100%;
    left: 0;
    justify-content: flex-start;
}